---
import App from "../App.astro";
import { Section, Accordion, Image, Icon, H1, H2, H3, H4 } from "ui";

interface Props {
  menu?: number;
  page: number;
  title: string;
  subtitle: string;
  next?: string;
  audio?: string;
}

const {
  menu = 1,
  page,
  title,
  subtitle,
  next = "#",
  audio = "1.mp3",
} = Astro.props;
---

<App title={title}>
  <main>
    <!-- Intro -->
    <Section name="intro exercice">
      <div class="breadcrumb">
        <ol class="breadcrumb-list">
          <li>
            <a href="/"><span>Баш бит</span></a>
          </li>
          <li>
            <a href="/exercises2"><span>Белемне ныгыту</span></a>
          </li>
          <li>
            <a href="/exercises2"><span>5 - 6 яшь</span></a>
          </li>
          <li class="active">
            <a href="#" class="disabled">
              <span
                set:html={title.replace(
                  "Ә",
                  "<span style='font-family: Montserrat; font-weight: 500;'>Ә</span>"
                )}
              />
            </a>
          </li>
        </ol>
      </div>

      <div class="page" class:list={[`page-${page}`]}>
        <div class="wrapper">
          <div class="aside">
            <div class="aside__section">
              <div class="aside__section-title">5 - 6 яшь</div>
              <Image src="page-2/section.png" />
            </div>

            <div class="aside__accordions" data-accordion="single">
              <Accordion title="Иҗтимагый-коммуникатив үсеш" active={menu == 0}>
                <ul
                  style="--primary: rgb(127, 90, 202);
                --primary-hover:rgba(191, 181, 211,0.5);
             --primary-light:rgba(191, 181, 211,0.3);"
                >
                  <!-- <li>
                    <a href="/exercises2/communication/my-family"
                      >Минем гаиләм</a
                    >
                  </li> -->

                  <!-- <li>
                    <a href="/exercises2/communication/homework">Өй эшләре </a>
                  </li> -->

                  <!-- <li>
                    <a href="/exercises2/communication/polite-words"
                      >Әдәпле сүзләр</a
                    >
                  </li> -->

                  <li>
                    <a href="/exercises2/safety">Куркынычсызлык кагыйдәләре</a>
                  </li>
                </ul>
              </Accordion>

              <Accordion title="Танып белү үсеше" active={menu == 1}>
                <ul
                  style="--primary: rgb(254, 92, 148);
                --primary-hover:rgba(254, 92, 148,0.2);
             --primary-light:rgba(254, 92, 148,0.1);"
                >
                  <!-- <li>
                    <a href="/exercises2/recognition/home">Туган җирем</a>
                  </li> -->

                  <li>
                    <a href="/exercises2/recognition/library"
                      >Татарстанның Милли китапханәсе</a
                    >
                  </li>
                  <!-- 
                  <li>
                    <a href="/exercises2/recognition/gerb-and-flag"
                      >Татарстанның символикасы</a
                    >
                  </li>

                  <li>
                    <a href="/exercises2/awareness/metro">Метро станцияләре </a>
                  </li> -->

                  <!-- <li>
                    <a href="/exercises2/logics/high-and-low">Югары һәм түбән</a>
                  </li> -->

                  <!-- <li><a href="/exercises2/logics/extra-row">Өстәмә рәт</a></li>
                  <li><a href="/exercises2/logics/losses">Югалтулар</a></li>

                  <li>
                    <a href="/exercises2/recognition/rules">
                      Юл хәрәкәте кагыйдәләре
                    </a>
                  </li> -->
                  <!-- <li>
                    <a href="/exercises2/logics/hard-and-soft">Каты һәм йомшак</a
                    >
                  </li> -->
                  <!-- <li><a href="#">Салкын Һәм кайнар</a></li> -->
                  <!-- <li><a href="#">Рәсемне җый</a></li> -->

                  <li>
                    <a href="/exercises2/numbers/sum">Хайваннарны саныйбыз</a>
                  </li>
                  <!-- <li>
                    <a href="/exercises2/numbers/howmuch"
                      >Предметларны саныйбыз</a
                    >
                  </li> -->
                </ul>
              </Accordion>

              <Accordion title="Сөйләм үсеше" active={menu == 2}>
                <ul
                  style="--primary:rgb(148, 136, 61);
                --primary-hover:rgba(253, 233, 206,0.8);
             --primary-light:rgba(253, 233, 206,0.4);"
                >
                  <li>
                    <a href="/exercises2/speech/tell-story">Әкиятне сөйлә </a>
                  </li>
                  <!-- <li>
                    <a href="/exercises2/speech/interesting-features"
                      >Кызыклы сыйфатлар</a
                    >
                  </li>
                  <li>
                    <a href="/exercises2/grammar/choose-a-letter"
                      >Хәрефне сайла</a
                    >
                  </li>
                  <li><a href="/exercises2/grammar/alphabet">Әлифба</a></li>
                  <li>
                    <a href="/exercises2/grammar/purity-of-speech"
                      >Сүзләр һәм схемалар</a
                    >
                  </li> -->
                </ul>
              </Accordion>

              <Accordion title="Сәнгати-эстетик үсеш" active={menu == 3}>
                <ul>
                  <!-- <li><a href="/exercises2/artistic/draw">Рәсемне буяу</a></li> -->
                  <li>
                    <a href="/exercises2/artistic/dressed"
                      >Татар милли киемнәр</a
                    >
                  </li>
                  <!-- <li>
                    <a href="/exercises2/artistic/music">Халык музыкасы</a>
                  </li> -->
                  <!-- <li>
                    <a href="/exercises2/logics/image-types"
                      >Рәсемнәрнең төрләре</a
                    >
                  </li>
                  <li>
                    <a href="/exercises2/artistic/artist">Сәнгатьтә һөнәрләр</a>
                  </li> -->

                  <!-- <li>
                    <a href="/exercises2/artistic/dance">Күңелле биюләр</a>
                  </li> -->
                  <!-- <li>
                    <a href="/exercises2/artistic/colors">Төсләрне өйрәнәбез</a>
                  </li> -->
                  <!-- <li><a href="#">Төсле һәм кара-ак</a></li> -->
                </ul>
              </Accordion>

              <Accordion title="Физик үсеш" active={menu == 4}>
                <ul
                  style="--primary:rgb(224, 191, 57);
                --primary-hover:rgba(255, 243, 197,0.8);
             --primary-light:rgba(255, 243, 197,0.4);"
                >
                  <!-- <li><a href="/exercises2/physic/body">Гәудә төзелеше</a></li>
                  <li><a href="/exercises2/physic/sport">Спорт биналары</a></li>
                  <li>
                    <a href="/exercises2/physic/nationalgames">Милли уеннар</a>
                  </li> -->

                  <li><a href="/exercises2/physic/ball">Янгыравыклы туп</a></li>
                </ul>
              </Accordion>
            </div>
          </div>

          <div class="content">
            <div class="content-title">Күнегү "{title}"</div>

            <div class="card">
              <div class="card-title" set:html={subtitle} />

              <slot />

              <a href={next} class="btn">Дәвам итәргә</a>
            </div>
          </div>

          <div class="result">
            <div class="result__pupil" style="display: none;"></div>

            <div class="result__level" style="margin-top: 20px;">
              <div class="result__level-title">Дәрәҗә</div>
              <div class="flex-row">
                <Image src="icons/star-filled.png" />
                <Image src="icons/star-empty.png" />
                <Image src="icons/star-empty.png" />
              </div>
            </div>

            <div class="result__actions" data-audio={`/assets/audios/${audio}`}>
              <div
                class="icon"
                role="button"
                aria-labe="Mute"
                data-action="mute"
              >
                <Image src="icons/sound.svg" />
              </div>

              <div
                class="icon"
                role="button"
                aria-labe="Sound"
                data-action="play"
              >
                <Image src="icons/play.svg" />
              </div>
            </div>

            <div class="result__table">
              <table>
                <tr>
                  <th colspan="2">Җаваплар</th>
                </tr>
                <tr>
                  <td><Image src="icons/correct.svg" /></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td><Image src="icons/wrong.svg" /></td>
                  <td><span class="false">0</span></td>
                </tr>
              </table>
            </div>

            <Image class="result__image" src="aside.png" data-modal="form" />
          </div>
        </div>
      </div>
    </Section>
  </main>
</App>
